* {
  //   margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Pixelify Sans", cursive;
}
body {
  overflow: hidden;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./172404-vashe_imya-miyamizu_mitsuha-taki_tachibana-anime-atmosfera-7680x4320.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  display: flex;
  flex-direction: column;
  gap: 0px;
  .top {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .langChange {
      display: none;
    }
    .again {
      padding: 10px 30px;
      font-size: 25px;
      border-radius: 20px;
      box-shadow: 0 0 10px 5px white;
      border: 1px solid white;
    }
    p {
      color: #fff;
      font-size: 18px;
    }
  }
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    font-size: 21px;
    .secretNum_bg {
      color: black;
      border: 2px solid white;
      background-color: #fff;
      padding: 10px 50px;
    }
  }
  .bot {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 40%;
    padding: 100px 0;
    .check {
      display: flex;
      flex-direction: column;
      gap: 10px;
      input {
        background: none;
        outline: none;
        padding: 10px;
        font-size: 60px;
        color: white;
        border: 2px solid white;
        text-align: center;
        border-radius: 20px;
        // box-shadow: ;
      }
      button {
        padding: 20px;
        font-size: 25px;
      }
    }
    .game-procces {
      h2 {
        max-width: 411.29px;
      }
      p {
        display: flex;
        gap: 10px;
      }
    }
    .score {
      display: flex;
      flex-direction: column;
      gap: 5px;
      color: white;
      h2 {
        margin-bottom: 50px;
      }
    }
  }
}
